[submodule "w32api"]
	path = w32api
	url = git://git.xcsoar.org/xcsoar/max/cegcc-w32api.git
[submodule "binutils"]
	path = binutils
	url = git://git.xcsoar.org/xcsoar/max/cegcc-binutils.git
[submodule "gcc-4.4.0"]
	path = gcc-4.4.0
	url = git://git.xcsoar.org/xcsoar/max/cegcc-gcc.git
[submodule "mingw"]
	path = mingw
	url = git://git.xcsoar.org/xcsoar/max/cegcc-mingw.git
[submodule "mingwdll"]
	path = mingwdll
	url = git://git.xcsoar.org/xcsoar/max/cegcc-mingwdll.git
