[submodule "w32api"]
	path = w32api
	url = ../../MaxKellermann/w32api
[submodule "binutils"]
	path = binutils
	url = ../../MaxKellermann/binutils-gdb
[submodule "gcc"]
	path = gcc
	url = ../../MaxKellermann/gcc
[submodule "mingw"]
	path = mingw
	url = ../../MaxKellermann/mingwrt
